
/* font work sans */
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";




:root {
  --background: #ffffff;
  --foreground: #171717;
}
:root {
  --heading-font: "Basic", sans-serif;
  --body-font: "Work Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font) !important;
  font-weight: bold;
}

h1 > span, h2 > span, h3 > span, h4 > span, h5 > span, h6 > span
{
    font-family: var(--heading-font) !important;
  font-weight: bold;
}
a {
  font-family: var(--heading-font);
}

p, span, li {
  font-family: var(--body-font);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --: "Work Sans", sans-serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

button:hover{
  cursor: pointer;
}

/* landing page area card progress bar */
.area-progress::-webkit-progress-bar {
  background-color: rgba(243,244,246,1);
}
.area-progress::-webkit-progress-value {
  background-color: rgba(209, 213, 220, 1);
}
.area-progress::-moz-progress-bar {
  background-color: rgba(243,244,246,1);
}

/* landing page advanced horizontal carousel */
@media(min-width:1025px)
{
  .active-slide{
    scale: 1.3;
    opacity: 1;
    z-index: 50;
    transition: all 1s;
  }
  .inactive-slide-1, .inactive-slide-3{
    scale: 0.8;
    opacity: 0.3;
    transition: all 1s;
  }
  .inactive-slide-2, .inactive-slide-4{
    scale: 0.6;
    opacity: 0.1;
    transition: all 1s;
  }
}
.product-list {
    padding-left: 0px;
}

.product-list li svg {
    min-width: 15px;
    min-height: 15px;
    object-fit: contain;
    margin: 0;
    position: relative;
    top: 2px;
}
.product-list li {
    list-style: none;
    display: flex;
    align-items: baseline;
    column-gap: 7px;
    margin-bottom: 3px;
}

@media (min-width: 1024px) {
  /* .perk-active {
    scale: 1.3;
    opacity: 1;
    z-index: 50;
    transition: all 1s;
  } */
  
  /* .perk-inactive-1, .perk-inactive-3{
    scale: 1;
    z-index: 40;
    transition: all 1s;
  }
  
  .perk-inactive-2, .perk-inactive-4{
    scale: 0.8;
    z-index: 30;
    transition: all 1s;
  } */
}

/* thought leadership page innovation showcase carousel */

/* .showcase-inactive-1, .showcase-inactive-2 {
  box-shadow: 0px 3.82px 235.96px 0px rgba(0, 0, 0, 0.1);
}

.showcase-active {
  scale: 1.15;
  box-shadow: 0px 3.74px 230.91px -10.28px rgba(0, 0, 0, 0.09);
  z-index: 50;
} */


.bottom-shadow {
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.perk-shadow{
  box-shadow: 0px 4px 91.7px 0px rgba(0, 0, 0, 0.08);
}

.disable-scrollbar::-webkit-scrollbar {
  display: none;
}


.join-section:before {
    content: "";
    background: linear-gradient(360deg, #ffffff, #ffffff00);
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
}

.join-section {
    position: relative;
}

.faded p {
  color: #00000025; /* Tailwind gray-400 */
  transition: color 0.8s ease-in-out;
}

.faded.in-view p {
  color: #00A849; /* Your green */
}

.curve-image {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.bordered-btn:hover {
    background-color: #F57E25;
    color: #fff;
    transition: .2s ease-in;
}
.orange-btn, .bordered-btn, .g-bordered-btn, .g-bordered-btn svg path, .w-btn
{
   transition: .2s ease-in;
}
.orange-btn:hover
{
     background-color: #fff;
    color: #F57E25;
    border-color: #F57E25;
    transition: .2s ease-in;
}

.g-bordered-btn:hover
{
     background-color: #00a849;
    color: #fff;
    border-color: #00a849;
    transition: .2s ease-in;
}

.g-bordered-btn:hover svg path, .w-btn:hover svg path
{
     stroke: #fff;
     transition: .2s ease-in;
}

.w-btn:hover
{
     background-color: #00a849;
    color: #fff;
    border-color: #00a849;
    transition: .2s ease-in;
}
.header-logo img {
    width: 80px;
}
@media(max-width:767px)
{
  .product-wrap {
    min-width: 80%;
    min-height: 250px;
}
}
@media(min-width:1300px)
{
.main-banner
{
    background-position: 100% 45%;
        transition: .2s ease-in;

}
}
@media(min-width:1600px)
{
 .main-banner {
        background-position: 100% 61%;
        padding-top: 108px;
            transition: .2s ease-in;

    }
}
@media(min-width:1800px)
{
       .main-banner {
        background-position: 100% 52%;
        padding-top: 108px;
           transition: .2s ease-in;

    }
}
